body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    /* Ảnh */
    background-image: url("../images/background/rain.jpg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-color: #f4f4f4;  
}

.main-content {
    flex: 1;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

footer {
    margin-top: auto;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.search-info {
    font-size: 18px;
    margin-bottom: 20px;
    color: #ffffff;
}

.result-header {
    color:#ffffff;
    font-style: italic;
}

.no-result {
    color:#ffffff;
    font-style: italic;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.book-item {
    flex: 1 0 16%; 
    padding: 10px;
    border: 1px solid #ccc; 
    text-align: center;
    background-color: #f9f9f9; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.book-item img {
    width: 130px;
    height: 180px;
    object-fit: cover;
    margin-bottom: 10px;
}

.book-author {
    color: #666;
    margin-bottom: 10px;
}

.btn-detail {
    display: inline-block;
    background-color: #FF0000;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.btn-detail:hover {
    background-color: #cc0000;
}
